name: Bump Formula

permissions:
  contents: read
  pull-requests: write

on:
  push:
    tags: ['*']
  workflow_dispatch:

jobs:
  bump-formula:
    name: Bump Homebrew Formula
    runs-on: ubuntu-latest
    steps:
      - uses: dawidd6/action-homebrew-bump-formula@c5ddc585e75f0f750a8b4f610688b4bec9e80915 #v6
        with:
          # Authentication token to use for pushing changes; use the built-in GITHUB_TOKEN or define a HOMEBREW_TOKEN secret
          token: ${{ secrets.HOMEBREW_TOKEN }}
          # Bump all outdated casks in this tap
          tap: laniksj/homebrew-tap
          # Bump only these formulae if outdated
          formula: lsusb-plus
          livecheck: true
