name: Bump Formula

on:
  # push:
  #   tags: ['*']
  workflow_dispatch:

jobs:
  bump-formula:
    name: Bump Homebrew Formula
    runs-on: ubuntu-latest
    steps:
      - uses: dawidd6/action-homebrew-bump-formula@v5
        with:
          token: ${{secrets.HOMEBREW_TOKEN}}
          tap: laniksj/homebrew-tap
          formula: lsusb-plus
          livecheck: true
