name: Lock Threads

on:
  push:
    paths:
      - .github/workflows/lock-threads.yml
    branches-ignore:
      - dependabot/**
  schedule:
    # Once every month on 4th day at 04:05am UTC
    - cron: "5 4 4 * *"
  issue_comment:

permissions:
  issues: write
  pull-requests: write

concurrency:
  group: lock-threads
  cancel-in-progress: ${{ github.event_name != 'issue_comment' }}

jobs:
  lock-threads:
    runs-on: ubuntu-latest
    steps:
      - name: Lock Outdated Threads
        uses: dessant/lock-threads@1bf7ec25051fe7c00bdd17e6a7cf3d7bfb7dc771 # v5.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          process-only: 'issues, prs'
          issue-inactive-days: 30
          add-issue-labels: outdated
          pr-inactive-days: 30
          add-pr-labels: outdated
