name: Update License

on:
  schedule:
    - cron: '0 10 1 1 *' # 10:00 AM on January 1
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  action-update-license-year:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6.pre.beta
        with:
          fetch-depth: 0
      - uses: FantasticFiasco/action-update-license-year@d837fc83ecb71196807bdf3854208f556e66f6ed # v3.0.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commitAuthorEmail: noreply@github.com
        id: license
      - name: Merge PR
        if: steps.license.outputs.pullRequestNumber != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr merge --squash --delete-branch ${{ steps.license.outputs.pullRequestNumber }}
